<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head :: head"></head>
<body>
	<header th:replace="inc/header :: header"></header>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="inc/sidebar"></div>
			<div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h2 class="sub-header">Add a Service</h2>
				<form method="post" class="addService" th:action="@{/dashboard/addService}" autocomplete="off" >
					
					<label>Title</label>
					<input type="text" class="form-control" name="serviceName" />
					
					<label>Description</label>
					<textarea class="form-control" name="serviceDescription"></textarea>
					
					<label>Price</label>
					<input type="double" class="form-control" name="price" />

                    <label>Duration</label>
                    <input type="number" class="form-control" name="Duration" />

					<input type="submit" class="btn btn-primary btn-block" value="Submit" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>
