<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <div th:replace="inc/sidebar"></div>


        <!-- Subscription List-->
        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Customers</h1>

            <h2 class="sub-header">Customer List</h2>

            <div class="table">
                <form action="/dashboard/services" method="post">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Registration Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- TODO :: show customer list -->
                        <tr th:each="customer : ${myCustomers}">
                            <td>
                                <!-- TODO :: change value to customer_id -->
                                <input th:type="hidden" th:name="param" th:value="${customer.getId()}" />
                                <!-- TODO :: change value to customer email address-->
                                <input th:type="submit" class="linkButton" th:value="${customer.getEmail()}"/>
                            </td>
                            <td>2015-01-01</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>