<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Summary</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Packages</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Change Password</a></li>
                <li><a href="">Delete Account</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
            <h1 class="page-header" th:text="'Welcome ' + ${user} + '!'"></h1>
            <h2 class="sub-header">My Subscriptions</h2>
            <div class="table">
                <table class="table table-striped">
                    <tbody>
                    <tr th:each="service : ${subscribedServices}">
                        <td th:text="${service.getServiceID()}"></td>
                        <td th:text="${service.getServiceName()}"></td>
                        <td th:text="${service.getServiceDescription()}">need to use database</td>
                        <td th:text="${service.getPrice()}">need to use database</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">

            <h2 class="sub-header">Services</h2>

            <div class="table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${unsubscribedServices}">
                        <td th:text="${service.getServiceID()}"></td>
                        <td th:text="${service.getServiceName()}"></td>
                        <td th:text="${service.getServiceDescription()}">need to use database</td>
                        <td th:text="${service.getPrice()}">need to use database</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>