<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <div th:replace="inc/sidebar"></div>
        <form action="/dashboard/home" method="post">
            <!-- Subscription List-->
            <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">My Subscriptions</h2>
                <div class="table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Click to Cancel</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service : ${subscribedServices}">
                            <td th:text="${service.getServiceName()}"></td>
                            <td th:text="${service.getServiceDescription()}"></td>
                            <td th:text="${service.getPrice()}"></td>
                            <td><input type="checkbox" th:name="cancel" th:value="${service.getServiceID()}" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Service List -->
            <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">Services</h2>
                <div class="table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Click to Subscribe</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service : ${unsubscribedServices}">
                            <td th:text="${service.getServiceName()}"></td>
                            <td th:text="${service.getServiceDescription()}"></td>
                            <td th:text="${service.getPrice()}"></td>
                            <td><input type="checkbox" th:name="subscribe" th:value="${service.getServiceID()}" /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>