<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="inc/head :: head">
</head>
<body class="log-bk">
<header th:replace="inc/header :: header"></header>
<!-- Many of these input type variables for security is in security-context.xml -->
<section>
	<div class="container">
	    <form  method="post" class="form-login" action="loginProcess" autocomplete="off">
	        <input type="text" class="form-control" name="email" placeholder="E-mail" />
            <!--<input type="email" class="form-control" name="email" placeholder="E-mail" />-->
	        <input type="password" class="form-control" name="password" placeholder="Passowrd" required="true" />
	        <input type="submit" class="btn btn-primary btn-block" value="Log in" />
	        <label th:if="${param.error}" class="error">Username and Password don't match</label>
	    </form>
	</div>
	
</section>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>