<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="inc/head :: head">
</head>
<body class="log-bk">
<header th:replace="inc/header :: header"></header>    
<section>
	<div class="container">
	    <form  method="post" class="form-login" th:action="@{/auth/login}" autocomplete="off">
	        <input type="email" class="form-control" name="email" placeholder="E-mail" />
	        <input type="password" class="form-control" name="password" placeholder="Passowrd" />
	        <input type="submit" class="btn btn-primary btn-block" value="Log in" />
	    </form>
	</div>
	
<!-- 	<form method="post" th:action="@{/auth/login}" class="login">
	    <p>
	      <label for="login">Email:</label>
	      <input type="email" name="email" id="login" placeholder="E-mail" />
	    </p>
	    
	    <p>
	      <label for="password">Password:</label>
	      <input type="password" name="password" id="password" placeholder="Password" />
	    </p>
	
	    <p class="login-submit">
	      <button type="submit" class="login-button">Login</button>
	    </p>
	
	    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
    </form> -->
	
</section>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>