<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header  th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Logo</a>
            </div>
            <div class="navbar-topics">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/services}">Services</a></li>
                </ul>

                <!-- If logged in -->
                <ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_CUSTOMER_REP') or hasRole('ROLE_COMMERCIAL') or hasRole('ROLE_CUSTOMER') or hasRole('ROLE_MARK_REP')">
                    <li><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li><a th:href="@{/logout}">Sign out</a></li>
                </ul>

                <!-- If not logged in -->
                <ul class="nav navbar-nav navbar-right" sec:authorize="!hasAnyRole('ROLE_USER','ROLE_CUSTOMER_REP','ROLE_CUSTOMER', 'ROLE_MARK_REP', 'ROLE_COMMERCIAL')">
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/registerCommercial}">Corporate Registration</a></li>
                    <li><a th:href="@{/auth/login}">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>