<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<section>
    <div class="container">
        <div class="row">
            <div sec:authorize="!hasRole('ROLE_CUSTOMER_REP')" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form th:action="@{/registerCommercial}" method="post" class="form-horizontal" th:object="${commercialCustomer}">
                    <fieldset>
                        <legend>Register</legend>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input01">E-mail</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="email" id="input01" class="form-control" name="email" th:field="*{email}" required="true" />
                                <label th:errors="*{email}" th:errorclass="error">Error</label>
                                <label th:if="${duplicate}" class="error" th:text="${duplicate}"></label>
                            </div>
                        </div>
                        <!-- TODO :: use javscript to update password strength -->
                        <!-- First Name -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input01">Company Name</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="CompanyName" id="input21" class="form-control" name="cname" th:field="*{CompanyName}" required="true" />
                                <label th:errors="*{CompanyName}" th:errorclass="error">Error</label>

                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input02">Password</label>
                            <div class="col-md-8 col-sm-8">
                                <input th:type="password" id="input02" class="form-control" name="password" th:field="*{password}" required="true" />
                                <label th:errors="*{password}" th:errorclass="error">Error</label>
                                <!--th:if="${#fields.hasErrors('password')}" -->
                            </div>
                        </div>

                        <!-- Password Confirm -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input03">Password Confirm</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="password" id="input03" class="form-control" name="confirm_pass" required="true"/>
                            </div>
                        </div>

                        <script language='javascript' type='text/javascript'>
                            var password = document.getElementById("input02"),
                                    confirm_password = document.getElementById("input03");

                            function validatePassword(){
                                if(password.value != confirm_password.value) {
                                    confirm_password.setCustomValidity("Passwords Don't Match");
                                } else {
                                    confirm_password.setCustomValidity('');
                                }
                            }
                            password.onchange = validatePassword;
                            confirm_password.onchange = validatePassword;
                        </script>

                        <!-- User Type-->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input04">Customer</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input04" class="form-control" name="Customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input05">Sales Representative</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input05" class="form-control" name="Sales Representative" />
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Register" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>


            <div sec:authorize="hasRole('ROLE_CUSTOMER_REP')" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form th:action="@{/registerCommercial}" method="post" class="form-horizontal" th:object="${commercialCustomer}">
                    <fieldset>
                        <legend>Register</legend>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input01">E-mail</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="email" id="input01" class="form-control" name="email" th:field="*{email}" required="true" />
                                <label th:errors="*{email}" th:errorclass="error">Error</label>
                                <label th:if="${duplicate}" class="error" th:text="${duplicate}"></label>
                            </div>
                        </div>
                        <!-- TODO :: use javscript to update password strength -->
                        <!-- First Name -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input01">Company Name</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="CompanyName" id="input21" class="form-control" name="cname" th:field="*{CompanyName}" required="true" />
                                <label th:errors="*{CompanyName}" th:errorclass="error">Error</label>

                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input02">Password</label>
                            <div class="col-md-8 col-sm-8">
                                <input th:type="password" id="input02" class="form-control" name="password" th:field="*{password}" required="true" />
                                <label th:errors="*{password}" th:errorclass="error">Error</label>
                                <!--th:if="${#fields.hasErrors('password')}" -->
                            </div>
                        </div>

                        <!-- Password Confirm -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input03">Password Confirm</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="password" id="input03" class="form-control" name="confirm_pass" required="true"/>
                            </div>
                        </div>

                        <script language='javascript' type='text/javascript'>
                            var password = document.getElementById("input02"),
                                    confirm_password = document.getElementById("input03");

                            function validatePassword(){
                                if(password.value != confirm_password.value) {
                                    confirm_password.setCustomValidity("Passwords Don't Match");
                                } else {
                                    confirm_password.setCustomValidity('');
                                }
                            }
                            password.onchange = validatePassword;
                            confirm_password.onchange = validatePassword;
                        </script>

                        <!-- User Type-->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input04">Customer</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input04" class="form-control" name="Customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input05">Sales Representative</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input05" class="form-control" name="Sales Representative" />
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Register" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>