<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form th:action="@{/register}" method="post" class="form-horizontal" th:object="${user}">
                    <fieldset>
                        <legend>Register</legend>
                        
                        <!-- Email -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input01">E-mail</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="email" id="input01" class="form-control" name="email" th:field="*{email}" />
                                <label th:errors="*{email}" th:errorclass="error">Error</label>
                                <label th:if="${duplicate}" class="error" th:text="${duplicate}"></label>
                            </div>
                        </div>
                        <!-- TODO :: use javscript to update password strength -->
                        <!-- Password -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input03">Password</label>
                            <div class="col-md-8 col-sm-8">
                                <input th:type="password" id="input03" class="form-control" name="password" th:field="*{password}" />
                                <label th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">Error</label>
                            </div>
                        </div>

                        <!-- TODO :: using javascript check matching in real-time feedback -->
                        <!-- Password Confirm -->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input04">Password Confirm</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="password" id="input04" class="form-control" name="confirm_pass" />
                            </div>
                        </div>

                        <!-- User Type-->
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input04">Customer</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input05" class="form-control" name="Customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" for="input04">Sales Representative</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="checkbox" id="input05" class="form-control" name="Sales Representative" />
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Register" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>