<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head :: head"></head>
<body>
<header th:replace="inc/header :: header"></header>
<div class="container-fluid">
    <div class="row">
        <div th:replace="inc/sidebar"></div>


        <!-- Subscription List-->
        <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Customers</h1>

            <h2 class="sub-header">Customer List</h2>

            <div class="table">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Registration Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer : ${CUSTOMERS}">
                            <form action="/dashboard/customerServices" method="post">
                            <td>
                                <input th:type="hidden" th:name="identification" th:value="${customer.getId()}"/>
                                <input th:type="submit" class="linkButton" th:name="email"
                                       th:value="${customer.getEmail()}"/>
                            </td>
                            </form>
                            <td>2015-01-01</td>
                        </tr>
                        </tbody>
                    </table>

            </div>

            <h2 class="sub-header">Customer Packages</h2>

            <div class="table">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Registration Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer : ${CUSTOMERS}">
                            <form action="/dashboard/customerPackages" method="post">
                            <td>
                                <input th:type="hidden" th:name="identification" th:value="${customer.getId()}"/>
                                <input th:type="submit" class="linkButton" th:name="email"
                                       th:value="${customer.getEmail()}"/>
                            </td>
                            </form>
                            <td>2015-01-01</td>
                        </tr>
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>
<footer th:replace="inc/footer :: footer"></footer>
</body>
</html>